{% extends 'base.html.twig' %}

{% block title %}Edition Mot de passe{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="text-center alert alert-success mt-2">
        {{ message }}
    </div>
{% endfor %}

<h1 class="text-center my-3">Modification Mot de Passe</h1>

{{ form_start(passwordForm) }}

    {{  form_row(passwordForm.password)  }}
	

<button type="submit" class="btn btn-primary mb-4 my-2">Sauvegarder</button>

{{ form_end(passwordForm) }}

{% endblock %}
